# Swap ve geçici dosyalar
*.swp
*.*~

# Genel sistem dosyaları
.DS_Store
project.lock.json
*.pyc
nupkg/

# Visual Studio Code
.vscode/*
!.vscode/settings.json

# JetBrains Rider
.idea/

# Visual Studio
.vs/

# JetBrains Fleet
.fleet/

# CodeRush
.cr/


*.suo
*.user
*.userosscache
*.sln.docstates


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/


msbuild.log
msbuild.err
msbuild.wrn


.config
